.header {
  position: fixed;
  width: 100%;
  height: 128px;
  z-index: 4;
}

.logo > a {
  font-size: 1.2rem;
  letter-spacing: 0.5rem;
  color: var(--black);
  text-decoration: none;
  font-weight: 700;
}

.nav-toggle {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
}

.hamburger-menu {
  width: 25px;
}

.hamburger-menu > span {
  text-align: center;
  margin-bottom: 0.3rem;
  background: var(--black);
  height: 2px;
  width: 100%;
  display: block;
}

.hamburger-menu-close {
  position: absolute;
  display: none;
}
